* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #111;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.controls {
  margin-top: 20px;
  font-family: monospace;
  font-size: 1.25rem;
}

.controls > button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.controls > .hex {
  color: #999;
  font-family: inherit;
  font-size: inherit;
}

ul.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: calc(10vmax * 4);
  width: calc(10vmax * 4);
}

ul.grid > li {
  display: flex;
  flex: 0 0 1rem;
  border: 1px solid #666;
  min-height: calc(4vmax);
  min-width: calc(4vmax);
  max-height: calc(4vmax);
  max-width: calc(4vmax);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

ul.grid > li[data-active='false'] {
  background-color: #444;
}

ul.grid > li[data-active='true'] {
  background-color: #333;
}
