* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #999;
  font-family: monospace;
  font-size: 1.25rem;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

h3 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
}

/**********/
/* Pixels */
/**********/

ul.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: calc(10vmax * 3);
  width: calc(10vmax * 3);
  opacity: 0;
  animation: fadeIn 0.5s ease 1 forwards paused;
}

ul.grid > li {
  --max: 1.5vmax;
  display: flex;
  flex: 0 0 1rem;
  background-color: #111;
  min-height: var(--max);
  min-width: var(--max);
  max-height: var(--max);
  max-width: var(--max);
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
}

ul.grid > li.animate {
  animation: fadeBg 1s ease 1 forwards running;
}

ul.grid > li[data-active='false'] {
  background-color: #444;
}

ul.grid > li[data-active='true'] {
  background-color: #333;
}

@keyframes fadeBg {
  to {
    background-color: #111;
  }
}

/************/
/* controls */
/************/

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: inherit;
  font-size: inherit;
}

.controls > *:not(:first-child) {
  margin-left: 8px;
}

.controls > button.toggle {
  min-width: 82px;
  border: none;
  border-radius: 3px;
  letter-spacing: 1px;
  line-height: 1.25;
  font-size: 1rem;
  text-transform: uppercase;
}

.controls > button.toggle i {
  font-size: 0.75rem;
  margin-left: 3px;
}

.controls > span.hex {
  font-family: inherit;
  font-size: inherit;
  width: 90px;
}

span.swatch {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #111;
}

#slider {
  display: flex;
  align-items: center;
}

#colour-picker {
  background: hsl(260, 42%, 91%);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

#colour-picker:hover {
  background: hsl(260, 42%, 100%);
}

.tooltip {
  position: absolute;
  display: inline-block;
  color: #333;
  width: auto;
  height: 30px;
  line-height: 1.8;
  text-align: center;
  background-color: #ddd;
  border: 1px solid #111;
  left: -1000px;
  top: -1000px;
  border-radius: 0.5vmax;
  cursor: default;
  padding: 0 5px;
}

/***********/
/* buttons */
/***********/

.btn {
  cursor: pointer;
  height: 22px;
  line-height: 1.2;
  font-family: inherit;
  font-weight: bold;
  font-size: inherit;
  background: hsl(260, 42%, 85%);
  transition: background-color 0.2s ease;
}

.btn:hover {
  background: hsl(260, 42%, 100%);
}

.btn.shape {
  border: 2px solid  hsl(260, 20%, 30%);
  border-radius: 5px;
  font-size: 0.875rem;
}

.btn.shape:not(:first-child) {
  margin: 0 0 0 4px;
}

.btn.shape.selected {
  border: 2px solid #fff;
  background: hsl(260, 42%, 100%);
}

/**********/
/* layout */
/**********/

.m-t-30 {
  margin-top: 30px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-l-10 {
  margin-left: 10px;
}